__init__.py
*.pyc
.*.swp
.#*
#*#
*~
*.pb

# ignore partially applied patches and their backup
*.rej
*.orig


# ignore files under the top level $CMSSW_BASE/src directory, but not its subdirectories
/*
!/*/

# ignore some IDE related files
*.xcodeproj
.vscode

#ignore mac specific file
.DS_Store

HeterogeneousCore/MPICore/test/profiling_results
/HeterogeneousCore/MPICore/test/test_scripts_and_configs/real/run*
